[package]
name = "raylib"
version = "5.0.0"
authors = ["DeltaPHC <phclem@protonmail.com>"]
license = "Zlib"
readme = "../README.md"
description = "Safe Rust bindings for Raylib."
documentation = "https://docs.rs/raylib"
repository = "https://github.com/deltaphc/raylib-rs"
keywords = ["bindings", "raylib", "gamedev"]
categories = ["api-bindings", "game-engines", "graphics"]
edition = "2018"

[dependencies]
raylib-sys = { version = "5.0.0", path = "../raylib-sys" }
libc = "0.2.45"
lazy_static = "1.2.0"
cfg-if = "1.0.0"
serde = { version = "1.0.125", features = ["derive"], optional = true }
serde_json = { version = "1.0.64", optional = true }
nalgebra = { version = "0.26", optional = true }
parking_lot = "0.12.1"

[dev-dependencies]
structopt = "0.3"
rand = "0.8.5"
arr_macro = "0.1.3"

[features]
nightly = []
with_serde = ["serde", "serde_json"]
nalgebra_interop = ["nalgebra"]
wayland = ["raylib-sys/wayland"]
custom_frame_control = ["raylib-sys/custom_frame_control"]

[[target.'cfg(not(target_os = "windows"))'.example]]
name = "specs"
path = "examples/samples/specs.rs"
doc-scrape-examples = true

[[target.'cfg(not(target_os = "windows"))'.example]]
name = "rgui"
path = "examples/samples/rgui.rs"
doc-scrape-examples = true

[[target.'cfg(not(target_os = "windows"))'.example]]
name = "arkanoid"
path = "examples/samples/arkanoid.rs"
doc-scrape-examples = true

[[target.'cfg(not(target_os = "windows"))'.example]]
name = "logo"
path = "examples/samples/logo.rs"
doc-scrape-examples = true


[[target.'cfg(not(target_os = "windows"))'.example]]
name = "camera2D"
path = "examples/samples/camera2D.rs"
doc-scrape-examples = true

[[target.'cfg(not(target_os = "windows"))'.example]]
name = "raymarch"
path = "examples/samples/raymarch.rs"
doc-scrape-examples = true

[[target.'cfg(not(target_os = "windows"))'.example]]
name = "font"
path = "examples/samples/font.rs"
doc-scrape-examples = true

[[target.'cfg(not(target_os = "windows"))'.example]]
name = "drop"
path = "examples/samples/drop.rs"
doc-scrape-examples = true

[[target.'cfg(not(target_os = "windows"))'.example]]
name = "texture"
path = "examples/samples/texture.rs"
doc-scrape-examples = true


[[target.'cfg(not(target_os = "windows"))'.example]]
name = "yaw_pitch_roll"
path = "examples/samples/yaw_pitch_roll.rs"
doc-scrape-examples = true

[[target.'cfg(not(target_os = "windows"))'.example]]
name = "roguelike"
path = "examples/samples/roguelike.rs"
doc-scrape-examples = true

[[target.'cfg(not(target_os = "windows"))'.example]]
name = "input"
path = "examples/samples/input.rs"
doc-scrape-examples = true

[[target.'cfg(not(target_os = "windows"))'.example]]
name = "3d_camera_first_person"
path = "examples/samples/3d_camera_first_person.rs"
doc-scrape-examples = true

[[target.'cfg(not(target_os = "windows"))'.example]]
name = "model_shader"
path = "examples/samples/model_shader.rs"
doc-scrape-examples = true

[[target.'cfg(not(target_os = "windows"))'.example]]
name = "extensions"
path = "examples/samples/extensions.rs"
doc-scrape-examples = true

[[target.'cfg(not(target_os = "windows"))'.example]]
name = "asteroids"
path = "examples/samples/asteroids.rs"
doc-scrape-examples = true

[package.metadata.docs.rs]
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]
